doctype html
html(lang='ru')

link(rel="stylesheet", href="../styles/main.scss")

head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE-Edge")
		meta(name='viewport' content="width=device-width")
		link(rel="stylesheet" href="css/main.min.css")
		title Business
		block Landing
h1 Приветики!